<div class="header text-center">
    <h1 class="align-middle">Oscillator</h1>        
</div>

<div class="container">
   

<hr>

<div class="row">
    <div class="form-group">
        <label for="frequency"><b>Fundamental Frequency</b></label>

        <input type="number" id="frequency" class="form-control" min="20" max="2000" value="220"> 
    </div>    
</div>

<hr>
<div class="row">
    <h4>ADSR Envelope</h4>

    <div class="col-md-6">
        <div class="form-group">
            <label for="attack"><b>Attack</b> </label>
            <input type="number" id="attack" class="form-control" min="0" value="0.01">
        </div>
            
    </div>
    
    <div class="col-md-6">
        <div class="form-group">
            <label for="decay"><b>Decay</b> </label>
            <input type="number" id="decay" class="form-control" min="0" value="0.05">
        </div>
    
    </div>
    

        
    <div class="col-md-6">
        <div class="form-group">
            <label for="sustain"><b>Sustain</b> </label>
            <input type="number" id="sustain" class="form-control" min="0" value="0">
        </div>
    
    </div>


    <div class="col-md-6">
                
    <div class="form-group">
        <label for="release"><b>Release</b> </label>
        <input type="number" id="release" class="form-control" min="0" value="0.3">
    </div>

    </div>

</div>

<hr>
<h4>Harmonics</h4>
<button class="btn btn-primary" (click)="onResetHarmonics()">Reset</button>
<div class="row" id="slidersContainer">
        <div class="col-lg-1 col-md-3 col-sm-4" *ngFor="let item of harmonicsArray; let i = index">
        <h3>H {{i + 1}}</h3>
        <div class="slider-wrapper">
            <input type="range"
                orient="vertical" 
                [id]="i + 1"
                step="0.01" 
                value="0" 
                min="0" 
            max="1">
        </div>
        </div>         
    
</div>

<br>
<div class="row">

    <div class="col-md-6">
        <button class="btn btn-success btn-lg" (click)="onStart()">Play</button>
    </div>

</div>

</div>


<br>



